<div class="container-fluid">
    <div class="footer">
        <div class="cont">
            <div class="text">National University “Kyiv-Mohyla Academy”, 2016</div>
            <div class="text">Made by Rostyslav Rozhko</div>
            <div class="text">
                <a href="https://twitter.com/RostyslavRozhko">
                    <img class="twitter-logo" src="/images/twitter-social-logotype.png">
                </a>
            </div>
        </div>
    </div>
</div>