<nav class="nav navbar">
    <div class="pull-left">
        <a class="navbar-brand navbar-logo font-weight" href="/">logo</a>
    </div>
    <div class="pull-right">
        <a class="navbar-brand navbar-logo" href="/register">Register</a>
        <a class="navbar-brand navbar-logo" href="/login">Login</a>
    </div>
</nav>