<nav class="nav navbar">
    <div class="pull-left">
        <a class="navbar-brand navbar-logo" href="/">logo</a>
    </div>
    <div class="pull-right">
        <a class="navbar-brand navbar-logo" href="#">Register</a>
        <a class="navbar-brand navbar-logo" href="#">Login</a>
    </div>
</nav>