<% var title = title %>
<%include includes/head.ejs %>

<body>
<div class="container-fluid border-bottom">
    <div class="container">
        <% if(authUser) { %>
        <% include includes/navbar-logined.ejs %>
        <% } else {%>
        <% include includes/navbar.ejs %>
        <%}%>
    </div>
</div>

<div class="container messeges-app-container">
    <div class="row">
        <div class="col-md-4">
            <div class="chats">
                <% chats.chats.forEach(function (one) { %>
                <%if(one.messages._id+""==chatId+""){%>
                    <div class="messages-chat active">
                    <%} else {%>
                    <div class="messages-chat">
                        <%}%>
                    <a href="/messages/<%=one.messages._id%>">
                        <% if(one.to.img) {%>
                        <img src="<%=one.to.img%>" class="pull-left message-img">
                        <%} else {%>
                        <img src="/images/account-icon-8.png" class="pull-left message-img">
                        <% } %>
                        <div class="chat-text-container clearfix pull-left">
                            <div class="author"><%=one.to.name%></div>
                        </div>
                    </a>
                </div>
                <% }) %>
            </div>
        </div>
        <div class="col-md-8">
            <div class="messages-row" data-id = "<%=chatId%>" >

            </div>
            <div class="messages-input-container">
                <div class="messages-input">
                    <div class="row">
                        <div class="col-md-12">
                            <form id="myForm">
                                <input type="text" id="body" placeholder="Enter your message">
                                <input type="submit" class="btn-register form-control btn" value="Send">
                            </form >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div style="display: none" id="template">
    <div class="message">
        <div class="clearfix">
            <img src="/images/account-icon-8.png" class="pull-left message-img">
            <span style="display: inline-block" class="pull-left">
                            <div class="chat-text-container clearfix pull-left">
                                <span class="author"></span>
                                <span class="date"></span>
                                <div class="message-body">
                                    <p></p>
                                </div>
                            </div>
                        </span>
        </div>
    </div>
</div>


<% include includes/footer.ejs %>

<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/messages.js"></script>
</body>
</html>