body {
    padding-top: 90px;
    background:#F7F7F7;
    color:#666666;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
}

body{
    width: 100%;
    background: -webkit-linear-gradient(left, #ececec, #dfdfdf, #ececec, #dfdfdf);
    background: linear-gradient(to right, #ececec, #dfdfdf, #ececec, #dfdfdf);
    background-size: 600% 100%;
    -webkit-animation: HeroBG 20s ease infinite;
    animation: HeroBG 20s ease infinite;
}

@-webkit-keyframes HeroBG {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes HeroBG {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}